<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
 <div class="card mt-2" style="margin:auto;width:50rem">
     <p class="mt-2" style="margin:auto;font-size:2rem;font-family:Verdana, Geneva, Tahoma, sans-serif">Hello there, choose one from the below<p>
 </div>
 <div class="row mt-5">
     <div class="col-md-6">
        <a class="btn btn-primary" style="margin:auto;display:block" href="/assign-1">Assignment 1</a>
    </div>
     <div class="col-md-6">
        <a class="btn btn-primary" style="margin:auto;display:block" href="/assign-2">Assignment 2</a>
    </div>
 </div>
    
</body>
</html>